* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: aliceblue;
  border: 5px solid black;
}
.content-box {
  min-width: 100vw;
  margin: 0px auto;
}
.image-container {
  border-radius: 25%;
}
.top_container {
  display: flex;
  margin-top: 100px;
}
.top_container h1 {
  font-size: 51px;
}
