* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: aliceblue;
  border: 5px solid black;
}
.content-box {
  min-width: 100vw;
  margin: 0px auto;
}
.image-container {
  border-radius: 20%;
  margin-top: 50px;
}
.top_section {
  display: flex;
}
.heading {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.para {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-left: 10px;
}
.paragraph {
  text-align: justify;
  margin-right: 25px;
  font-size: 20px;
  margin-left: 10px;
}
